[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/cpprestsdk"]
	path = thirdparty/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk
[submodule "thirdparty/libsodium"]
	path = thirdparty/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "thirdparty/object_threadsafe"]
	path = thirdparty/object_threadsafe
	url = https://github.com/AlexeyAB/object_threadsafe.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/nanopb"]
	path = thirdparty/nanopb
	url = https://github.com/nanopb/nanopb.git
