[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/cpprestsdk"]
	path = thirdparty/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk
[submodule "thirdparty/libsodium"]
	path = thirdparty/libsodium
	url = https://github.com/jedisct1/libsodium
